/**
 * 구글 폰트
 * font-family: 'Nothing You Could Do', cursive;
 * font-family: 'Courgette'           , cursive;
 * font-family: 'Aclonica'            , sans-serif;
 * font-family: 'Cabin Sketch'        , cursive;
 * font-family: 'Gloria Hallelujah'   , cursive;
 **/
@import url('https://fonts.googleapis.com/css?family=Aclonica|Cabin+Sketch|Courgette|Gloria+Hallelujah|Nothing+You+Could+Do&display=swap');

/**
 * 반응형 폰트 사이즈
 * https://github.com/twbs/rfs
 **/
@import '~rfs/scss';

.font-nycd {
  font-family: 'Nothing You Could Do', cursive;
}
.font-courgette {
  font-family: 'Courgette', cursive;
}
.font-aclonica {
  font-family: 'Aclonica', sans-serif;
}
.font-cabin {
  font-family: 'Cabin Sketch', cursive;
}
.font-gloria {
  font-family: 'Gloria Hallelujah', cursive;
}
.text-serif {
  font-family: 'Noto Serif KR', serif;
}

// 그림자
.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

// 크기
.display-1 {
  @include rfs($font-size-base * 8);
}
.display-2 {
  @include rfs($font-size-base * 7);
}
.display-3 {
  @include rfs($font-size-base * 6);
}
.display-4 {
  @include rfs($font-size-base * 5);
}
.display-5 {
  @include rfs($font-size-base * 4);
}
.display-6 {
  @include rfs($font-size-base * 3);
}
h1,
.h1 {
  @include rfs($font-size-base * 2.5);
}
h2,
.h2 {
  @include rfs($font-size-base * 2.25);
}
h3,
.h3 {
  @include rfs($font-size-base * 2);
}
h4,
.h4 {
  @include rfs($font-size-base * 1.75);
}
h5,
.h5 {
  @include rfs($font-size-base * 1.5);
}
h6,
.h6 {
  @include rfs($font-size-base * 1.25);
}
