// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

// 색 - 기본
// $blue: #007bff;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #e83e8c;
// $red: #dc3545;
// $orange: #fd7e14;
// $yellow: #ffc107;
// $green: #28a745;
// $teal: #20c997;
// $cyan: #17a2b8;

$colors: ();

// 색 - 테마
// $primary: $blue;
// $secondary: $gray-600;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-800;

$theme-colors: ();

// 마진, 패딩 (0 ~ 50)
$spacers: ();
@for $i from 0 through 50 {
  $spacers: map-merge(
    $spacers,
    (
      $i: $i * 0.25rem
    )
  );
}

// 폰트
$font-family-cursive: 'Nothing You Could Do', cursive;
// $font-family-sans-serif: 'Noto Serif KR', serif;
$font-size-base: 0.875rem;
